#preview {
  overflow: scroll;
  min-height: 35vh;
  max-height: 39vh;
}
textarea::-webkit-scrollbar {
  width: 0px; /* Ancho de la scrollbar */
}
#preview::-webkit-scrollbar {
  width: 0px; /* Ancho de la scrollbar */
}
.toolbar {
  background-color: lightblue;
  border-radius: 3px 3px 0 0;
  padding: 10px;
}
textarea.form-control {
  border: none !important;
  min-height: 35vh;
  margin-bottom: 0px;
}
textarea.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  border: none !important;
}
